.restaurant-box{
    flex-wrap: wrap;
}
#menu-icon{
    display: flex;
    width: 4em;
}
#menu-icon svg{
    color: white;
    margin: auto;
}
#nav-links{
    display: none;
    width: 100%;
    background-color: #15598A;
    z-index: 1;
    flex-direction: column;
}
#nav-links li{
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    margin-left: 0;
    text-align: center;
}
#nav-links li a{
    color: white;
    border: none;
}
#nav-links li:hover{
    background-color: #B65C1B;
    color: white;
}
#nav-links li a:hover{
    background-color: inherit;
}
#nav-links li:active{
    background-color: #8A4615;
}
#nav-links li a:active{
    background-color: inherit;
}
#nav-links li:first-child{
    color: white;
    background-color: #8A4615;
    border-radius: 0;
}
#nav-links li:first-child a{
    background-color: inherit;
}
nav{
    height: 7vh;
    background-color: #15598A;
    flex-direction: column;
}
#search-form{
    display: none;
    justify-content: center;
    padding: 14px 16px;
    background-color: #15598A;
    width: 100%;
}
#triangle{
    display: none;
}
#banner-picture{
    display: none;
}
#banner{
    background-image: url("pictures/black-frying-pan-with-spaghetti-sauce-near-brown-wooden-691114.jpg");
    background-size: cover;
}
#banner-textarea-container{
    margin: auto;
    background-color: rgba(21, 89, 138, 0.8);
    width: fit-content;
}
#slogan-text{
    text-indent: 0;
}
.restaurant-box{
    width: 90vw;
    margin-bottom: 2em;
}
#add-restaurant-box-container{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}
#add-restaurant-box{
    width: 90vw;
    margin: auto;
}
#search-label{
    position: relative;
    top: 8px;
    left: 43px;
}
#search-icon{
    top: 9px;
    left: 81px;
}
#info-text-area{
    width: 90%;
}
#info-text-area h1{
    font-size: 20px;
}
.restaurant-logo{
    margin: 1em;
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .restaurant-box{
        flex-wrap: wrap;
    }
    .restaurant-text-area{
        width: 55%;
    }
}